In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('/content/Ch2_Q15_V09_Data_File.xlsx')

In [9]:
df.describe()

          Student  Unnamed: 3
count  186.000000         0.0
mean    93.500000         NaN
std     53.837719         NaN
min      1.000000         NaN
25%     47.250000         NaN
50%     93.500000         NaN
75%    139.750000         NaN
max    186.000000         NaN

In [4]:
df.dropna()

Empty DataFrame
Columns: [Student, Sex, Feasible, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7]
Index: []

In [5]:
df.dropna().shape

(0, 8)

In [6]:
df.describe

<bound method NDFrame.describe of      Student     Sex Feasible  Unnamed: 3  \
0          1  female      yes         NaN
1          2  female      yes         NaN
2          3  female      yes         NaN
3          4  female      yes         NaN
4          5  female      yes         NaN
..       ...     ...      ...         ...
181      182    male       no         NaN
182      183    male       no         NaN
183      184    male       no         NaN
184      185    male       no         NaN
185      186    male       no         NaN

                                            Unnamed: 4  \
0                                                  NaN
1                                                  NaN
2    a-1. Construct a contingency table that cross-...
3                                                  NaN
4                                             Feasible
..                                                 ...
181                                                NaN
182                                                NaN
183                                                NaN
184                                                NaN
185                                                NaN

                                            Unnamed: 5 Unnamed: 6 Unnamed: 7
0    Many believe that it is not feasible for men a...        NaN        NaN
1                                                  NaN        NaN        NaN
2                                                  NaN        NaN        NaN
3                                                  NaN        NaN        NaN
4                                              Female        male        NaN
..                                                 ...        ...        ...
181                                                NaN        NaN        NaN
182                                                NaN        NaN        NaN
183                                                NaN        NaN        NaN
184                                                NaN        NaN        NaN
185                                                NaN        NaN        NaN

[186 rows x 8 columns]>

In [11]:
#a-1. Construct a contingency table that cross-classifies the data by Sex and Feasible. Provide the frequencies in the accompanying table.
contingency_table = pd.crosstab(df['Sex'], df['Feasible'])
print(contingency_table)

Feasible  no  yes
Sex
female    26   74
male      37   49

In [13]:
#a-2. How many of the students were female?
num_female_students = df['Sex'].value_counts()['female']
print(num_female_students)

100

In [15]:
#a-3. How many of the students felt that it was feasible for men and women to be just friends?
num_students_feasible = df['Feasible'].value_counts()['yes']
print(num_students_feasible)

123

In [17]:
#b-1. What is the likelihood that a male student feels that men and women can be just friends? (Report the proportion rounded to 2 decimal places.)
proportion_male_students_feasible = df[df['Sex'] == 'male']['Feasible'].value_counts()['yes'] / df[df['Sex'] == 'male'].shape[0]
rounded_proportion_male_students_feasible = round(proportion_male_students_feasible, 2)
print(rounded_proportion_male_students_feasible)

0.57

In [18]:
#b-2. What is the likelihood that a female student feels that men and women can be just friends? (Report the proportion rounded to 2 decimal places.)
proportion_female_students_feasible = df[df['Sex'] == 'female']['Feasible'].value_counts()['yes'] / df[df['Sex'] == 'female'].shape[0]
rounded_proportion_female_students_feasible = round(proportion_female_students_feasible, 2)
print(rounded_proportion_female_students_feasible)

0.74