In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('/content/Ch1_Q23_V02_Data_File.xlsx')

In [4]:
df.describe()

,x1,x3,x4,x5,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 9,Unnamed: 10
count,100.00,100.000000,100.000000,100.000000,0.0,0.0,0.0,0.0,0.0
mean,0.55,157.250000,32.760000,0.141701,NaN,NaN,NaN,NaN,NaN
std,0.50,38.249678,17.726383,0.247895,NaN,NaN,NaN,NaN,NaN
min,0.00,91.000000,2.000000,0.000088,NaN,NaN,NaN,NaN,NaN
25%,0.00,120.000000,16.000000,0.003400,NaN,NaN,NaN,NaN,NaN
50%,1.00,163.000000,33.500000,0.022251,NaN,NaN,NaN,NaN,NaN
75%,1.00,188.000000,50.000000,0.147975,NaN,NaN,NaN,NaN,NaN
max,1.00,219.000000,60.000000,0.991581,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dropna()

Empty DataFrame
Columns: [x1, x2, x3, x4, x5, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11]
Index: []

In [7]:
df.dropna().shape

(0, 12)

In [8]:
df.describe

<bound method NDFrame.describe of     x1    x2   x3  x4        x5  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
0    1   Own  172   2  0.054587         NaN         NaN         NaN
1    0  Rent  183   3  0.009077         NaN         NaN         NaN
2    1   Own  172  60  0.938140         NaN         NaN         NaN
3    0  Rent  148   7  0.020797         NaN         NaN         NaN
4    1   Own  194   7  0.008174         NaN         NaN         NaN
..  ..   ...  ...  ..       ...         ...         ...         ...
95   0  Rent  209  16  0.666483         NaN         NaN         NaN
96   0  Rent  204   7  0.000385         NaN         NaN         NaN
97   0  Rent  114  52  0.036317         NaN         NaN         NaN
98   0  Rent  128  10  0.000457         NaN         NaN         NaN
99   1   Own  155  10  0.827123         NaN         NaN         NaN

                                           Unnamed: 8  Unnamed: 9  \
0   a. Subset the data set to include only x2, x3,...         NaN
1                            nuber of missing values          NaN
2   b. Remove all observations that have “Own” as ...         NaN
3                                                 NaN         NaN
4                              number of observation          NaN
..                                                ...         ...
95                                                NaN         NaN
96                                                NaN         NaN
97                                                NaN         NaN
98                                                NaN         NaN
99                                                NaN         NaN

    Unnamed: 10 Unnamed: 11
0           NaN         NaN
1           NaN           ?
2           NaN         NaN
3           NaN         NaN
4           NaN           ?
..          ...         ...
95          NaN         NaN
96          NaN         NaN
97          NaN         NaN
98          NaN         NaN
99          NaN         NaN

[100 rows x 12 columns]>

In [10]:
#a. Subset the data set to include only x2, x3, and x4. How many missing values are there in these three variables?
subset_df = df[['x2', 'x3', 'x4']]
print(subset_df.isna().sum())

x2    0
x3    0
x4    0
dtype: int64

In [9]:
#b. Remove all observations that have “Own” as the value for x2. Then remove all observations that have values lower than 150 for x3. How many observations remain in the data set?

df = df[df['x2'] != 'Own']
df = df[df['x3'] >= 150]
print(df.shape[0])

26