In [ ]:
#all() - Returns True if all elements in the given iterable are true. If not, returns false.

set = {2,4,6,7,8}
print(all(set)) #Returns true

True

In [ ]:
#any() - Returns True if any element of iterable is true other wise returns false.

set = {0,0,6,0}
print(any(set))

True

In [ ]:
#enumerate()- Adds a counter to an iterable and returns them.

countrySet = {'Japan', 'Nepal', 'Italy', 'India', 'USA'}

for i in enumerate(countrySet):
  print(i)
print()
for count, i in enumerate(countrySet, 50): #changes default start value i.e 50
  print(count, i)

(0, 'Nepal')
(1, 'Italy')
(2, 'USA')
(3, 'Japan')
(4, 'India')

50 Nepal
51 Italy
52 USA
53 Japan
54 India

In [ ]:
#len() - Returns the number of items in the list.

countrySet = {'Japan', 'Nepal', 'Italy', 'India', 'USA'}
print(countrySet, 'length is', len(countrySet))

{'Nepal', 'Italy', 'USA', 'Japan', 'India'} length is 5

In [ ]:
#max() - Returns the largest item in between two or more parameters.
numberSets = {29,4,67,7,98}
print(max(numberSets))

98

In [ ]:
#min() - Returns the minimum item in between set.
numberSets = {29,4,67,7,98}
print(min(numberSets))

4

In [ ]:
#sorted() - Sorts the elements of a diveb iterable in specific order.
numberSets = {29,4,67,7,98,88,76,44,32}
print(sorted(numberSets))

[4, 7, 29, 32, 44, 67, 76, 88, 98]

In [ ]:
#sum() - Returns sum of all elements in the set.
numberSets = {29,4,67,7,98,88,76,44,32}
print('Initial Set number :',numberSets)

total_number = sum(numberSets)
print('Sum of numbers is :- ',total_number)

Initial Set number : {32, 98, 67, 4, 7, 76, 44, 88, 29}
Sum of numbers is :-  445